@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import "./components/index.css";
@import "./template/index.css";
@import "./vendors/index.css";
@import "./docs/index.css";
@import "./tailwind/index.css";


/* اسکرول‌بار هوشمند (مخفی در حالت عادی، نمایان هنگام تعامل) */
.auto-hide-scrollbar::-webkit-scrollbar {
  width: 5px; /* عرض بسیار باریک و ظریف */
  background-color: transparent;
}

.auto-hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* در حالت عادی مخفی است */
  border-radius: 10px;
}

/* وقتی کاربر موس را روی لیست می‌آورد، اسکرول‌بار رنگ می‌گیرد */
.auto-hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.6); /* رنگ طوسی ملایم */
}

/* برای حالت دارک‌مود */
.dark .auto-hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.6);
}